*
{
	margin:0;
}

body{
	background: #02010a;
	color: black;
	font-size: 16px;
  font-family: 'Dancing Script', cursive;
}

#wrapper
{
	width: 900px;
	margin: 0 auto;
}

header
{
	margin: 0 auto;
	width: 900px;
	height: 1em;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background-color: grey;
	color:white;
}

footer{
	clear: both;
	margin: 0 auto;
	width: 900px;
	height: 3em;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background-color: grey;
	color:white;
}
article
{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;


	background-color: grey;
	padding: 2%;
	text-align: center;
	height: 2em;
}

	#columna1
	{
	background-color: #91C9E8;
	width: 100%;

	}
	#columna2
	{
	background-color: #D1D1D1;
	width: 50%;
	}
	#columna3
	{
	background-color: #3399CC;
	width: 50%;
	}

@media screen and (max-width: 900px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px){

#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	width: 100%;
	}
	#columna2
	{
	width: 100%;
	}
	#columna3
	{
	width: 100%;
	}

	header
	{
	width:100%;
	}
}
